.DS_Store
.komodotools/python.komodotool
.komodotools/python2_6_-m_test_ru.komodotool
Tiger.komodoproject
Tiger.kpf
MANIFEST
dist/
build/
.project
pkg-plist
.pypirc
*.pyo
*.pyc
*.egg-info/
.ropeproject/
.coverage
.tox

build/*
.idea/*
doc_source
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*.egg-info/*
docs/build/doctrees/*/*.doctree
docs/build/doctrees/*.doctree
