BODY {
	BACKGROUND: white
}
.logo {
	BACKGROUND: white
}
BODY {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; PADDING-BOTTOM: 1ex; MARGIN: 0px; COLOR: black; PADDING-TOP: 1ex; FONT-FAMILY: arial,sans-serif
}
TABLE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px; border-spacing: 0
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
FORM {
	MARGIN: 0px
}
INPUT {
	MARGIN: 2px
}
.logo {
	FLOAT: left; WIDTH: 264px; HEIGHT: 77px
}
.front .logo {
	DISPLAY: block; FLOAT: none
}
.front .searchbox {
	MARGIN: 2ex auto; TEXT-ALIGN: center
}
.front .menubar {
	TEXT-ALIGN: center
}
.menubar {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #006699; PADDING-BOTTOM: 1px; MARGIN: 1ex 0px; PADDING-TOP: 1px
}
.menubar A {
	PADDING-RIGHT: 0.8ex; PADDING-LEFT: 0.8ex; PADDING-BOTTOM: 0.8ex; FONT: bold 10pt Arial,Helvetica,sans-serif; PADDING-TOP: 0.8ex
}
.menubar A:link {
	COLOR: white; TEXT-DECORATION: none
}
.menubar A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.menubar A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #006699
}
A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #006699
}
UNKNOWN {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff0000
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	MARGIN-TOP: 1em
}
.credits TD {
	PADDING-RIGHT: 2ex; PADDING-LEFT: 2ex; PADDING-BOTTOM: 0.5ex; PADDING-TOP: 0.5ex
}
.huge {
	FONT-SIZE: 32pt
}
.s {
	BACKGROUND: #dddddd
}
.s TD {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; PADDING-BOTTOM: 0.2ex; VERTICAL-ALIGN: baseline; PADDING-TOP: 0.2ex
}
.r TD {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; PADDING-BOTTOM: 0.2ex; VERTICAL-ALIGN: baseline; PADDING-TOP: 0.2ex
}
TH {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; BACKGROUND: #bbbbbb; PADDING-BOTTOM: 0.4ex; PADDING-TOP: 0.4ex; TEXT-ALIGN: left
}
TH A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: black
}
TH A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: black
}
.box {
	BORDER-RIGHT: #006699 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #006699 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1ex 0px; BORDER-LEFT: #006699 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #006699 1px solid
}
.distfiles TD {
	PADDING-RIGHT: 2ex; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
.manifest TD {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.l1 {
	FONT-WEIGHT: bold
}
.l2 {
	FONT-WEIGHT: normal
}
.t1 {
	BACKGROUND: #006699; COLOR: white
}
.t2 {
	BACKGROUND: #006699; COLOR: white
}
.t3 {
	BACKGROUND: #006699; COLOR: white
}
.t4 {
	BACKGROUND: #006699; COLOR: white
}
.t5 {
	BACKGROUND: #006699; COLOR: white
}
.t4 {
	PADDING-RIGHT: 0.4ex; PADDING-LEFT: 0.4ex; PADDING-BOTTOM: 0.2ex; PADDING-TOP: 0.2ex
}
.t1 {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; PADDING-BOTTOM: 0.5ex; PADDING-TOP: 0.5ex
}
.t2 {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; PADDING-BOTTOM: 0.5ex; PADDING-TOP: 0.5ex
}
.t3 {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; PADDING-BOTTOM: 0.5ex; PADDING-TOP: 0.5ex
}
.box .t1 {
	MARGIN: 0px
}
.box .t2 {
	MARGIN: 0px
}
.box .t3 {
	MARGIN: 0px
}
.box .t5 {
	MARGIN: 0px
}
.t1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; TEXT-ALIGN: center
}
.t2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; TEXT-ALIGN: left
}
.t3 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; TEXT-ALIGN: left
}
.t5 {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em; TEXT-ALIGN: center
}
.datecell {
	WIDTH: 17em; TEXT-ALIGN: center
}
.cell {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; PADDING-BOTTOM: 0.2ex; PADDING-TOP: 0.2ex; TEXT-ALIGN: left
}
.label {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; FONT-WEIGHT: bold; BACKGROUND: #aaaaaa; PADDING-BOTTOM: 0.2ex; VERTICAL-ALIGN: baseline; COLOR: black; PADDING-TOP: 0.2ex; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.categories {
	MARGIN-BOTTOM: 1ex; PADDING-BOTTOM: 1ex; BORDER-BOTTOM: #006699 3px double
}
.categories TABLE {
	MARGIN: auto
}
.categories TD {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; PADDING-BOTTOM: 0.5ex; VERTICAL-ALIGN: baseline; PADDING-TOP: 0.5ex
}
.path A {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #006699
}
.pages {
	PADDING-RIGHT: 0.4ex; PADDING-LEFT: 0.4ex; BACKGROUND: #dddddd; PADDING-BOTTOM: 0.2ex; COLOR: #006699; PADDING-TOP: 0.2ex
}
.path {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; BACKGROUND: #dddddd; PADDING-BOTTOM: 0.5ex; MARGIN: 1ex 0px; COLOR: #006699; PADDING-TOP: 0.5ex; BORDER-BOTTOM: #006699 1px solid
}
.menubar TD {
	BACKGROUND: #006699; COLOR: white
}
.menubar {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #006699; PADDING-BOTTOM: 1px; MARGIN: 1ex 0px; COLOR: white; PADDING-TOP: 1px
}
.menubar .links {
	PADDING-RIGHT: 0.2ex; PADDING-LEFT: 0.2ex; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0.2ex; COLOR: white; PADDING-TOP: 0.2ex; TEXT-ALIGN: left
}
.menubar .searchbar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: black; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: black; PADDING-TOP: 2px; TEXT-ALIGN: right
}
A.m:link {
	BACKGROUND: #006699; FONT: bold 10pt Arial,Helvetica,sans-serif; COLOR: white; TEXT-DECORATION: none
}
A.m:visited {
	BACKGROUND: #006699; FONT: bold 10pt Arial,Helvetica,sans-serif; COLOR: white; TEXT-DECORATION: none
}
A.o:link {
	BACKGROUND: #006699; FONT: bold 10pt Arial,Helvetica,sans-serif; COLOR: #ccffcc; TEXT-DECORATION: none
}
A.o:visited {
	BACKGROUND: #006699; FONT: bold 10pt Arial,Helvetica,sans-serif; COLOR: #ccffcc; TEXT-DECORATION: none
}
A.o:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.m:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff6600; TEXT-DECORATION: underline
}
TABLE.dlsip {
	BORDER-RIGHT: #dddddd 0.4ex solid; BORDER-TOP: #dddddd 0.4ex solid; BACKGROUND: #dddddd; BORDER-LEFT: #dddddd 0.4ex solid; BORDER-BOTTOM: #dddddd 0.4ex solid
}
.pod PRE {
	BORDER-RIGHT: #888888 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #888888 1px solid; PADDING-LEFT: 1em; BACKGROUND: #eeeeee; PADDING-BOTTOM: 1em; BORDER-LEFT: #888888 1px solid; COLOR: black; PADDING-TOP: 1em; BORDER-BOTTOM: #888888 1px solid; WHITE-SPACE: pre
}
.pod H1 {
	FONT-SIZE: large; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #006699
}
.pod H1 A {
	TEXT-DECORATION: none
}
.pod H2 A {
	TEXT-DECORATION: none
}
.pod H3 A {
	TEXT-DECORATION: none
}
.pod H4 A {
	TEXT-DECORATION: none
}
.pod H2 {
	FONT-SIZE: medium; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #006699
}
.pod H3 {
	FONT-SIZE: medium; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #006699; FONT-STYLE: italic
}
.pod H4 {
	FONT-WEIGHT: normal; FONT-SIZE: medium; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #006699
}
.pod IMG {
	VERTICAL-ALIGN: top
}
.pod .toc A {
	TEXT-DECORATION: none
}
.pod .toc LI {
	LINE-HEIGHT: 1.2em; LIST-STYLE-TYPE: none
}
.faq DT {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em
}
.chmenu {
	PADDING-RIGHT: 0.5ex; PADDING-LEFT: 0.5ex; BACKGROUND: black; PADDING-BOTTOM: 0.5ex; MARGIN: 1ex auto; FONT: bold 1.1em Arial,Helvetica,sans-serif; COLOR: red; PADDING-TOP: 0.5ex
}
.chmenu TD {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; PADDING-BOTTOM: 0.2ex; PADDING-TOP: 0.2ex
}
.chmenu A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: white; TEXT-DECORATION: none
}
.chmenu A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: white; TEXT-DECORATION: none
}
.chmenu A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff6600; TEXT-DECORATION: underline
}
.column {
	PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; PADDING-BOTTOM: 0.5ex; VERTICAL-ALIGN: top; PADDING-TOP: 0.5ex
}
.datebar {
	MARGIN: auto; WIDTH: 14em
}
.date {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #008000
}
.footer {
	BORDER-TOP: #006699 1px solid; MARGIN-TOP: 1ex; FONT-SIZE: x-small; COLOR: #006699; LINE-HEIGHT: 120%; TEXT-ALIGN: right
}
.front .footer {
	BORDER-TOP: medium none
}
#permalink {
	FLOAT: right
}
#permalink A {
	FONT-SIZE: small
}
.sr {
	MARGIN: 0px
}
